/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  /* apply a natural box layout model to all elements, but allowing components to change */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
div.all-container {
  background-color: #e9e9e9;
  width: 97%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
}

div.all-container h1 {
  margin: 10px 0;
  font-size: 1.5rem;
  text-align: center;
}

div.e-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  width: 100%;
  height: auto;
}

div.e-card-info {
  width: 95%;
}

div.e-card p {
  padding: 10px 15px;
  color: #000;
  width: auto;
}

div.e-card i {
  font-size: 1.1rem;
  color: #3985db;
}

div.e-card > div {
  margin-left: 15px;
}

div.e-card-id {
  margin-top: 15px;
}

div.e-card img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

div.e-card-actions {
  text-align: right;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.e-card-actions a {
  background-color: #3985db;
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.1rem;
}

div.e-card-actions a:hover {
  background-color: #2b65a7;
  transition: all 0.3s ease-in;
}

div.e-card-actions input {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: #ffffff;
}

div.e-card-info label {
  font-weight: bold;
  padding-left: 5px;
}

div.all-e-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(1, auto);
  grid-gap: 10px;
}

div.search-bar {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: auto;
}

button.submit-search {
  border: none;
  border-radius: 10px;
  height: 30px;
  margin-left: 5px;
  font-weight: bold;
  padding-left: 5px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
}

button.submit-search {
  background-color: #3985db;
  color: #ffffff;
  width: 80px;
  cursor: pointer;
}

div.search-bar label {
  font-weight: bold;
}

div.search-bar p {
  font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
  div.all-e-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 10px;
  }

  div.e-card {
    min-width: 90%;
  }

  div.e-card p {
    padding: 10px 0;
  }

  div.e-card a:last-child {
    padding: 10px;
  }
}
@media only screen and (max-width: 705px) {
  div.all-e-content {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 10px;
  }

  div.search-bar {
    display: inline-block;
  }

  div.e-card {
    min-width: 10%;
  }

  div.e-card p {
    padding: 10px 0;
    font-size: 1rem;
  }

  div.all-container {
    width: 100%;
    padding: 0;
  }

  div.e-card > a {
    padding: 0;
  }

  div.e-card a:last-child {
    padding: 10px;
  }

  input.search-btn {
    width: 50%;
    margin-top: 10px;
  }
}
button.search-btn {
  border: none;
  padding: 5px;
  background-color: #2f76c7;
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 1rem;
}

input.search-input {
  padding: 4px;
  border: none;
  border-radius: 10px;
}

div.birth-card {
  background-color: #fcfcfc;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=allEmployees.css.map */
